trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: FortiCNAPPSCA2
  displayName: 'FortiCNAPP - SCA / SAST - 2'
  jobs:
  - job: SCAScan
    displayName: 'FortiCNAPP SCA Scan 2'
    steps:
    - checkout: self
    
    - task: CmdLine@2
      displayName: 'FortiCNAPP SCA 2'
      inputs:
        script: |
            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            ls -la $(Build.SourcesDirectory)
            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            ls -la .
            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="

            echo "Running FortiCNAPP SCA / SAST checks." 

            echo "[debug] LW_ACCOUNT: $(LW_ACCOUNT), LW_API_KEY: $(LW_API_KEY), LW_API_SECRET: $(LW_API_SECRET)"
            echo "[debug] Build.BuildId: $(Build.BuildId)"
            echo "[debug] Build.DefinitionName: $(Build.DefinitionName)"
            echo "[debug] Build.Repository.Uri: $(Build.Repository.Uri)"

            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            curl https://raw.githubusercontent.com/lacework/go-sdk/main/cli/install.sh | bash

            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            lacework configure -a $(LW_ACCOUNT) -k $(LW_API_KEY) -s $(LW_API_SECRET) --subaccount $(LW_SUB_ACCOUNT) --noninteractive

            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            lacework component install sca

            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            lacework configure list

            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            lacework sca scan $(Build.SourcesDirectory) --save-results

#            docker run \
#            -e LW_ACCOUNT=$(LW_ACCOUNT) \
#            -e LW_API_KEY=$(LW_API_KEY) \
#            -e LW_API_SECRET=$(LW_API_SECRET) \
#            -e CI_PIPELINE_NAME=$(Build.DefinitionName) \
#            -e CI_BUILD_ID=$(Build.BuildId) \
#            -e CI_PIPELINE_URL=$(Build.Repository.Uri) \
#            -e CI_BUILD_URL=$(Build.Repository.Uri) \
#            -e CI_REPO_URL=$(Build.Repository.Uri) \
#            -e CI_PLATFORM=AzureDevOps \
#            -e WORKSPACE=src \
#            -e EXIT_FLAG='high' \
#            -v $(Build.SourcesDirectory):/app/src:rw \
#            docker.io/lacework/codesec:stable lacework sca scan /app/src --save-results

