trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: FortiCNAPPSCA2
  displayName: 'FortiCNAPP - SCA / SAST - 2'
  jobs:
  - job: SCAScan
    displayName: 'FortiCNAPP SCA Scan 2'
    steps:
    - checkout: self

    - task: CmdLine@2
      displayName: 'Install Lacework CLI'
      inputs:
        script: |
          echo "Installing Lacework CLI..."
          curl https://raw.githubusercontent.com/lacework/go-sdk/main/cli/install.sh | bash

    - task: CmdLine@2
      displayName: 'Configure Lacework CLI and Install SCA'
      inputs:
        script: |
          echo "Configuring Lacework CLI..."
          export LW_ACCOUNT=$(LW_ACCOUNT)
          export LW_SUB_ACCOUNT=$(LW_SUB_ACCOUNT)
          export LW_API_KEY=$(LW_API_KEY)
          export LW_API_SECRET=$(LW_API_SECRET)
          lacework configure --noninteractive

          echo "Installing SCA component..."
          lacework component install sca

    
    - task: CmdLine@2
      displayName: 'FortiCNAPP SCA scan'
      inputs:
        script: |
            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            ls -la $(Build.SourcesDirectory)
            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            ls -la .
            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="

            echo "Running FortiCNAPP SCA / SAST checks." 

            echo "[debug] LW_ACCOUNT: $(LW_ACCOUNT), LW_API_KEY: $(LW_API_KEY), LW_API_SECRET: $(LW_API_SECRET), LW_SUB_ACCOUNT: $(LW_SUB_ACCOUNT)"
            echo "[debug] Build.BuildId: $(Build.BuildId)"
            echo "[debug] Build.DefinitionName: $(Build.DefinitionName)"
            echo "[debug] Build.Repository.Uri: $(Build.Repository.Uri)"

            echo "Now on branch: $(git branch --show-current)"

            echo "Extracting clean branch name from: $(Build.SourceBranch)"
            BRANCH_NAME=$(echo $(Build.SourceBranch) | sed 's#refs/heads/##')

            echo "Fetching branch: $BRANCH_NAME"
            git fetch origin $BRANCH_NAME:$BRANCH_NAME
  
            echo "Checking out branch: $BRANCH_NAME"
            git checkout $BRANCH_NAME
    
            echo "Now on branch: $(git branch --show-current)"

            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            lacework configure list
            echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
            lacework sca scan ./ -f sarif -o /tmp/lacework-scan.json --save-results

            echo "return value: $?"

#    - task: CmdLine@2
#            docker run \
#            -e LW_ACCOUNT=$(LW_ACCOUNT) \
#            -e LW_API_KEY=$(LW_API_KEY) \
#            -e LW_API_SECRET=$(LW_API_SECRET) \
#            -e CI_PIPELINE_NAME=$(Build.DefinitionName) \
#            -e CI_BUILD_ID=$(Build.BuildId) \
#            -e CI_PIPELINE_URL=$(Build.Repository.Uri) \
#            -e CI_BUILD_URL=$(Build.Repository.Uri) \
#            -e CI_REPO_URL=$(Build.Repository.Uri) \
#            -e CI_PLATFORM=AzureDevOps \
#            -e WORKSPACE=src \
#            -e EXIT_FLAG='high' \
#            -v $(Build.SourcesDirectory):/app/src:rw \
#            docker.io/lacework/codesec:stable lacework sca scan /app/src --save-results

